<% include ../partials/header.ejs %>
<div class="container">
<h1>.</h1>
<h1>Nova pessoa</h1>

<p><a href="/pessoas">voltar para a lista de pessoas</a></p>

<form method="post" class="form-group">
    <label>Nome</label>
    <input type="name" name="nome" placeholder="nome" class="form-control">
    <label>Cargo</label>
    <input type="text" name="cargo" placeholder="cargo" class="form-control">
    <input type="submit" value="Cadastrar" class="btn btn-primary mt-3 ">

</form>
</div>
<% include ../partials/footer.ejs %>